MONGODB_USER=
MONGODB_NAME=ULTRASTACK
MONGODB_PASSWORD=

POSTGRESDB_HOST=localhost
POSTGRESDB_PORT=5432
POSTGRESDB_USER=postgres
POSTGRESDB_PASSWORD=
POSTGRESDB_NAME=ULTRASTACK

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

JWT_SECRET=